
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

svg {
    width: 70%;
}


#plataforma1 {
    transition: transform 1s;
    transform: translate(0px, 0)  
}
.amplia {
    transition: transform 1s;
    transform: translate(2px, -10%) !important; 
}

#mask {
    transition: opacity 1s;
    opacity: 0;    
}
.mostra-mask {
    transition: opacity 1s;
    opacity: 1 !important;
}

#botao-plataforma-ativa:hover {
    transition: opacity .5s;
    opacity: 0.5;
    cursor: pointer !important;
}